@import "~bootstrap/scss/bootstrap";
body {
  background-image: url(/src/imgs/palmy2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 500;
}
.container {
  position: relative;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
}
#tennis {
  border-radius: 10px;
}
#tennis #conditions {
  padding-left: 5px;
  padding-right: 5px;
}
.main_card {
  background-image: url(/src/imgs/palmy.jpg);
}

.modal {
  background-image: url(/src/imgs/world.jpg);
}
.modal-content {
  background-image: url(/src/imgs/wether.jpg);
}

.action {
  background-color: rgb(4, 192, 255);
}

.modal-title {
  color: black;
}

.row {
  padding-bottom: 50px;
}

.excellent {
  background: rgb(36, 171, 21);
  background: linear-gradient(
    90deg,
    rgba(36, 171, 21, 1) 2%,
    rgba(78, 255, 0, 1) 59%,
    rgba(33, 198, 49, 1) 100%
  );
}
.good {
  background: rgb(103, 175, 23);
  background: linear-gradient(
    90deg,
    rgba(103, 175, 23, 1) 2%,
    rgba(166, 232, 49, 1) 59%,
    rgba(119, 182, 6, 1) 100%
  );
}
.moderate {
  background: rgb(255, 251, 120);
  background: linear-gradient(
    90deg,
    rgba(255, 251, 120, 1) 2%,
    rgba(236, 255, 0, 1) 59%,
    rgba(199, 193, 9, 1) 100%
  );
}
.poor {
  background: rgb(237, 182, 69);
  background: linear-gradient(
    90deg,
    rgba(237, 182, 69, 1) 2%,
    rgba(235, 127, 12, 1) 59%,
    rgba(247, 177, 34, 1) 100%
  );
}
.extreme {
  background: rgb(251, 16, 16);
  background: linear-gradient(
    90deg,
    rgba(251, 16, 16, 1) 2%,
    rgba(150, 64, 38, 1) 59%,
    rgba(252, 0, 0, 1) 100%
  );
}

#tennis {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
