.excellent{
    background: green;
}
.good{
    background: greenyellow;
}
.moderate{
    background: yellow;
}
.poor{
    background: rgb(250, 131, 95);
}
.extreme{
    background: red;
}

#tennis {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
