
body{
    background-image: url(https://github.com/AdamGorski56/TennisWeatherApp/blob/master/src/imgs/tennisback3.jpg);
    background-size: cover;
    
   
}

.main_card{
background-image: url(https://github.com/AdamGorski56/TennisWeatherApp/blob/master/src/imgs/wether.jpg);
}

.modal{
    background-image: url(https://github.com/AdamGorski56/TennisWeatherApp/blob/master/src/imgs/world.jpg);
}
.modal-content{
    background-image: url(https://github.com/AdamGorski56/TennisWeatherApp/blob/master/src/imgs/wether.jpg);
}

.modal-title{
color: black;
}

.row{
    padding-bottom: 50px;
}

.excellent{
    background: green;
}
.good{
    background: greenyellow;
}
.moderate{
    background: yellow;
}
.poor{
    background: rgb(250, 131, 95);
}
.extreme{
    background: red;
}

#tennis {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
